header{
    background-color: black;
    height: 20vh;
    
}
main{
    float: left;
    width: 80%;
    height: 100vh;
background-color: yellowgreen;
}

aside{
    float: left;
    width:20%;
    height: 100vh;

background-color: blue;
}

container{
}