div .uitkomst{
    height: 20%;
    width: 600px;
    margin: 10px;
}

div .interval{
    margin: 10px;
}

div .main{
    padding: 10px;
    width: 600px;
    background-color: #F5F5F5;
}

div .tech-main{
    padding: 10px;
    width: 800px;
    background-color: #F5F5F5;
}

div .game-main{
    padding: 10px;
    width: 700px;
    background-color: #F5F5F5;
}

div .sitemap-main{

    padding: 10px;
    width: 400px;
    background-color: #F5F5F5;
}

.mainimg{
    width: 90%;
}

p .motivatie-paragraph{
    opacity: 1.6;
    font-weight: bold;
    color: blue;
    margin: 5px;
}

.sps{
    width: 300px;
    height: 200px;
}

.input{
    float:left;
    width: 200px;
}

.plaatje{
    margin-top: 75px;
    width: 500px;
    height: auto;
}

.spel{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.spel:hover{
    cursor: pointer;
}

.game{
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.spelhead{
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid black;
    margin-left: 175px;
}


div .game2-main
{
    display: flex;
    padding: 10px;
    width: 400px;
    height: auto;
    background-color: #F5F5F5;
}

.banana-button
{
   height: 40px;
   cursor: pointer;
}

.banana
{
    margin: 10px;
}

.banana-img
{
    width: 25px;
    height: 25px;
}
.banana-img2
{
    width: 40px;
    height: 40px;
}

.techniek {
    margin-bottom: 50px;
}